# data
data/cast20/collections/
data/canard/*.json
data/canard4ir/*
!data/canard4ir/*sample*

# checkpoints
*/checkpoints/
*/checkpoints/

# runs
runs/

# re-ranking
rerank/checkpoints/

# spr
spr/indexes/

# dpr-convir
e2e/checkpoints/

__pycache__/
logs/
*.swp
