# data
data/cast20/collections/
data/canard/*.json
data/quac/*.json
data/canard4ir/*
!data/canard4ir/*sample*
data/cast20/monot5-pairs/
convir_data_construction/dataset_construction/*.flogits
convir_data_construction/dataset_construction/*.tlogits
convir_data_construction/monot5-pairs/

# indexes
indexes/

# checkpoints
*/checkpoints/
*/checkpoints/

# runs
runs/

# re-ranking
rerank/checkpoints/

# spr
spr/indexes/

# dpr-convir
e2e/checkpoints/

__pycache__/
logs/
*.swp
